.tools{
    position: fixed;
    width: 45px;
    height: 800px;
    left: 369px;
    top: 0px;
    background-color: rgb(92, 197, 188);
}
.icon1{
    position: absolute;
    width: 45px;
    height: auto;
    top: 34px;
    left: 3px;
    
}
.icon1 img{
     width: 35px;
     height: auto;
}
.icon2{
    position: absolute;
    width: 45px;
    height: auto;
    top: 100px;
    left: 7px; 
}
.icon2 img{
     width: 27px;
     height: auto;
}